{% extends 'subscriptions.html' %}
{% load staticfiles %}
{% block title %}Поиск{% endblock %}

{% block page %} Поиск {% endblock %}

{% block navigation %}

<div class="row">
    <div class="col-md-8 col-xs-10 offset-md-2 offset-xs-1 white pb-3">
        <div class="row">
            <div class="col text-center px-1">
                <a role="button" class="btn btn-primary" 
                   href="{% url 'blogs:index' %}">Главная</a>
            </div>
            <div class="col text-center px-1">
                <a role="button" class="btn btn-primary" 
                   href="{% url 'blogs:subscriptions' %}">Подписки</a>
            </div>
            <div class="col text-center px-1">
                <a role="button" class="btn btn-primary" 
                   href="{% url 'blogs:new_posts' %}">Лента</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block search %}

<div class="row">
    <div class="col-md-8 col-xs-10 offset-md-2 offset-xs-1 white my-3 pt-3">
        <form class="input-group">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="search" value="{{ request.GET.search }}" 
                       placeholder="Поиск..." aria-describedby="search_button">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="submit" id="search_button">Поиск</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block empty %}
{% endblock %}


